.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #0e0d0d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  .topnav a:hover {
    color: rgb(12, 131, 243);
  }

input{
    align-content: center;
}

.author img{
  border-radius: 100%;
}
.subs{
    align-content: center;
    margin: 0%;

}
.blog{
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    float: left;
}
.subs{
  text-align: center;
}
.ic img{
  height: 30px;
 
}
.center img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 500px;
    width: 500px;
}
.center h3{
  text-align: center;
}
.center p{
  text-align: center;
}
.footer{
  text-align: center;
}
